<div class="row">
  <div class="col-xl-12">
    <div class="card forms-card">
      <div class="card-body">
        <h4 class="card-title mb-4">Basic Forms</h4>
        <div class="basic-form">
          <form [formGroup]="form" (ngSubmit)="login()">
            <div class="form-group">
              <label class="text-label">Email Address*</label>
              <input
                type="email"
                name="email"
                class="form-control"
                placeholder="email"
                required
                formControlName="email"
              />
            </div>
            <div class="form-group">
              <label class="text-label">Password*</label>
              <input
                type="password"
                name="password"
                class="form-control"
                placeholder="************"
                required
                formControlName="password"
              />
            </div>
            <div class="form-group">
              <div class="form-check">
                <input
                  id="checkbox1"
                  class="form-check-input styled-checkbox"
                  type="checkbox"
                />
                <label for="checkbox1" class="form-check-label"
                  >Check Me Out</label
                >
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-form mr-2">
              Submit
            </button>
            <button type="button" class="btn btn-light text-dark btn-form">
              Cancel
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
