<div class="row page-titles">
  <div class="col p-md-0">
      <h4>Chats</h4>
  </div>
  <div class="col p-md-0">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a>
          </li>
          <li class="breadcrumb-item"><a href="javascript:void(0)">Apps</a>
          </li>
          <li class="breadcrumb-item active">Chat</li>
      </ol>
  </div>
</div>
<div class="row chat-app-wrapper">
  <div class="col-xl-3 mb-5 mb-xl-0 chat-contacts">
      <div class="event-sideber-search">
          <form action="#" method="post" class="chat-search-form">
              <input type="text" class="form-control" placeholder="Search">
              <i class="fa fa-search"></i>
          </form>
      </div>
      <div class="event-msg-left">

          <ul class="list-group">
              <li class="list-group-item msg-single active">
                  <div class="media">
                      <span class="online-signal"></span>
                      <img class="mr-3 img-fluid" src="../../assets/images/chat/1.png" alt="placeholder image">
                      <div class="media-body align-self-center">
                          <h4 class="mt-0">Ingredia Nutrisha</h4>
                          <p>Thanks again you have been...
                          </p>
                      </div>
                  </div>
              </li>
              <li class="list-group-item msg-single">
                  <div class="media">
                      <span class="online-signal"></span>
                      <img class="mr-3 img-fluid" src="../../assets/images/chat/2.png" alt="placeholder image">
                      <div class="media-body align-self-center">
                          <h4 class="mt-0">Anamika</h4>
                          <p>Ok that sounds perfect</p>
                      </div>
                  </div>
              </li>
              <li class="list-group-item msg-single">
                  <div class="media">
                      <img class="mr-3 img-fluid" src="../../assets/images/chat/3.png" alt="placeholder image">
                      <div class="media-body align-self-center">
                          <h4 class="mt-0">Rock</h4>
                          <p>Hey, how are you!</p>
                      </div>
                  </div>
              </li>
              <li class="list-group-item msg-single">
                  <div class="media">
                      <img class="mr-3 img-fluid" src="../../assets/images/chat/4.png" alt="placeholder image">
                      <div class="media-body align-self-center">
                          <h4 class="mt-0">Johnson</h4>
                          <p>Are you still going for...
                          </p>
                      </div>
                  </div>
              </li>
              <li class="list-group-item msg-single">
                  <div class="media">
                      <span class="online-signal"></span>
                      <img class="mr-3 img-fluid" src="../../assets/images/chat/5.png" alt="placeholder image">
                      <div class="media-body align-self-center">
                          <h4 class="mt-0">Arrohi</h4>
                          <p>Thanks again you have been...</p>
                      </div>
                  </div>
              </li>
              <li class="list-group-item msg-single">
                  <div class="media">
                      <img class="mr-3 img-fluid" src="../../assets/images/chat/6.png" alt="placeholder image">
                      <div class="media-body align-self-center">
                          <h4 class="mt-0">Andy William</h4>
                          <p>Ok that sounds perfect...
                          </p>
                      </div>
                  </div>
              </li>
              <li class="list-group-item msg-single">
                  <div class="media">
                      <img class="mr-3 img-fluid" src="../../assets/images/chat/4.png" alt="placeholder image">
                      <div class="media-body align-self-center">
                          <h4 class="mt-0">Indigo Violet</h4>
                          <p>perfect the senator at all costs.
                          </p>
                      </div>
                  </div>
              </li>
              <li class="list-group-item msg-single">
                  <div class="media">
                      <img class="mr-3 img-fluid" src="../../assets/images/chat/1.png" alt="placeholder image">
                      <div class="media-body align-self-center">
                          <h4 class="mt-0">Desmond Eagle</h4>
                          <p>Sounds great!
                          </p>
                      </div>
                  </div>
              </li>
              <li class="list-group-item msg-single">
                  <div class="media">
                      <img class="mr-3 img-fluid" src="../../assets/images/chat/2.png" alt="placeholder image">
                      <div class="media-body align-self-center">
                          <h4 class="mt-0">Wisteria Ravenclaw</h4>
                          <p>Are you still going..
                          </p>
                      </div>
                  </div>
              </li>
              <li class="list-group-item msg-single">
                  <div class="media">
                      <img class="mr-3 img-fluid" src="../../assets/images/chat/1.png" alt="placeholder image">
                      <div class="media-body align-self-center">
                          <h4 class="mt-0">Deshmond Eagle</h4>
                          <p>Sed elementum libero...
                          </p>
                      </div>
                  </div>
              </li>
              <li class="list-group-item msg-single">
                  <div class="media">
                      <img class="mr-3 img-fluid" src="../../assets/images/chat/6.png" alt="placeholder image">
                      <div class="media-body align-self-center">
                          <h4 class="mt-0">Andy William</h4>
                          <p>Sed elementum libero...
                          </p>
                      </div>
                  </div>
              </li>
              <li class="list-group-item msg-single">
                  <div class="media">
                      <img class="mr-3 img-fluid" src="../../assets/images/chat/3.png" alt="placeholder image">
                      <div class="media-body align-self-center">
                          <h4 class="mt-0">Akash</h4>
                          <p>Cras sed sodales enim...</p>
                      </div>
                  </div>
              </li>

          </ul>

      </div>
  </div>

  <div class="col-xl-9">
      <div class="event-chat-ryt">
          <ul class="list-group">
              <li class="list-group-item chat-heading">
                  <div class="media single-message">
                      <div class="media-img">
                          <img class="mr-3 img-fluid" src="../../assets/images/chat/1.png" alt="placeholder image">
                      </div>
                      <div class="media-body align-self-center">
                          <h4 class="mb-0">Ingredia Nutrisha</h4>
                          <p class="text-success mb-0">Online</p>
                      </div>
                      <!-- <div class="dropdown custom-dropdown">
                          <div data-toggle="dropdown">
                              <i class="fa fa-ellipsis-v msg-btn"></i>
                          </div>
                          <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" href="javascript:void()">Option 1</a>
                              <a class="dropdown-item" href="javascript:void()">Option 2</a>
                              <a class="dropdown-item" href="javascript:void()">Option 3</a>
                          </div>
                      </div> -->
                  </div>
              </li>
              <li class="list-group-item">
                  <div class="chat-area">
                      <div class="chat-reciver">
                          <div class="media single-message">
                              <div class="media-body">
                                  <p>
                                      <span>I should be incapable of drawing a single stroke at the present moment and yet I feel that never was greater artist now.</span>
                                      <small class="time">07.50 PM</small>
                                  </p>
                              </div>
                              <img class="img-fluid" src="../../assets/images/chat/1.png" alt="placeholder image">
                          </div>
                      </div>
                      <div class="chat-sender">
                          <div class="media single-message">
                              <img class="img-fluid" src="../../assets/images/chat/1.png" alt="placeholder image">
                              <div class="media-body">
                                  <p>
                                      <span>While the lovely valley teems with vapour around.</span>
                                      <small class="time">07.50 PM</small>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="chat-reciver">
                          <div class="media single-message">
                              <div class="media-body">
                                  <p>
                                      <span>I throw myself down among the tall grass by the trickling stream..</span>
                                      <small class="time">07.50 PM</small>
                                  </p>
                              </div>
                              <img class="img-fluid" src="../../assets/images/chat/1.png" alt="placeholder image">
                          </div>
                      </div>
                      <div class="chat-reciver">
                          <div class="media single-message">
                              <div class="media-body">
                                  <p>
                                      <span>His many legs, pitifully thin compared</span>
                                      <small class="time">07.50 PM</small>
                                  </p>
                              </div>
                              <img class="img-fluid" src="../../assets/images/chat/1.png" alt="placeholder image">
                          </div>
                      </div>
                      <div class="chat-sender">
                          <div class="media single-message">
                              <img class="img-fluid" src="../../assets/images/chat/1.png" alt="placeholder image">
                              <div class="media-body">
                                  <p>
                                      <span>A collection of textile samples lay spread out on the table - Samsa was a travelling salesman picture.</span>
                                      <small class="time">07.50 PM</small>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="chat-reciver">
                          <div class="media single-message">
                              <div class="media-body">
                                  <p>
                                      <span>It wasn't a dream. His room, a proper human room</span>
                                      <small class="time">07.50 PM</small>
                                  </p>
                              </div>
                              <img class="img-fluid" src="../../assets/images/chat/1.png" alt="placeholder image">
                          </div>
                      </div>
                      <div class="chat-sender">
                          <div class="media single-message">
                              <img class="img-fluid" src="../../assets/images/chat/1.png" alt="placeholder image">
                              <div class="media-body">
                                  <p>
                                      <span>A collection of textile samples lay spread out on the table - Samsa was a travelling salesman picture.</span>
                                      <small class="time">07.50 PM</small>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="chat-reciver">
                          <div class="media single-message">
                              <div class="media-body">
                                  <p>
                                      <span>It wasn't a dream. His room, a proper human room</span>
                                      <small class="time">07.50 PM</small>
                                  </p>
                              </div>
                              <img class="img-fluid" src="../../assets/images/chat/1.png" alt="placeholder image">
                          </div>
                      </div>
                      <div class="chat-sender">
                          <div class="media single-message">
                              <img class="img-fluid" src="../../assets/images/chat/1.png" alt="placeholder image">
                              <div class="media-body">
                                  <p>
                                      <span>A collection of textile samples lay spread out on the table - Samsa was a travelling salesman picture.</span>
                                      <small class="time">07.50 PM</small>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="chat-reciver">
                          <div class="media single-message">
                              <div class="media-body">
                                  <p>
                                      <span>It wasn't a dream. His room, a proper human room</span>
                                      <small class="time">07.50 PM</small>
                                  </p>
                              </div>
                              <img class="img-fluid" src="../../assets/images/chat/1.png" alt="placeholder image">
                          </div>
                      </div>
                      <div class="chat-sender">
                          <div class="media single-message">
                              <img class="img-fluid" src="../../assets/images/chat/1.png" alt="placeholder image">
                              <div class="media-body">
                                  <p>
                                      <span>A collection of textile samples lay spread out on the table - Samsa was a travelling salesman picture.</span>
                                      <small class="time">07.50 PM</small>
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="chat-reciver">
                          <div class="media single-message">
                              <div class="media-body">
                                  <p>
                                      <span>It wasn't a dream. His room, a proper human room</span>
                                      <small class="time">07.50 PM</small>
                                  </p>
                              </div>
                              <img class="img-fluid" src="../../assets/images/chat/1.png" alt="placeholder image">
                          </div>
                      </div>
                  </div>
              </li>
          </ul>
          <div class="char-type">
              <form class="d-flex justify-content-center" action="#" method="post">
                  <input type="text" class="form-control" placeholder="🙂 Type your message here">
                  <label class="c-pointer" for="fileupload1"><i class="fa fa-paperclip" aria-hidden="true"></i>
                  </label>
                  <input type="file" name="fileupload1" class="d-none" id="fileupload1">
                  <button class="btn btn-primary btn-send"><i class="fa fa-paper-plane" aria-hidden="true"></i>
                  </button>
              </form>
          </div>
      </div>
  </div>
</div>
